name: Deploy to Elastic Beanstalk

on:
  push:
    branches:
      - main  # deploy only when main branch is updated

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Deploy to Elastic Beanstalk
      uses: einaregilsson/beanstalk-deploy@v22
      with:
        aws_access_key: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws_secret_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        region: eu-north-1
        application_name: fitnessProject
        environment_name: FitnessProject-env
        deployment_package: deploy/app.zip
        version_label: ${{ github.sha }}
        wait_for_deployment: true
