name: Deploy to AWS Elastic Beanstalk

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: windows-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up .NET Framework
      uses: microsoft/setup-msbuild@v2

    - name: Build WebForms Project
      run: |
        msbuild FitnessProjectAfterUpdate.csproj /p:Configuration=Release

    - name: Create deployment folder
      run: |
        mkdir deploy
        robocopy . deploy /E /XD .git obj Properties deploy .github

    - name: Create ZIP package
      run: |
        powershell Compress-Archive -Path deploy\* -DestinationPath deploy/app.zip -Force

    - name: Deploy to AWS Elastic Beanstalk
      uses: einaregilsson/beanstalk-deploy@v22
      with:
        aws_access_key: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws_secret_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        region: eu-north-1
        application_name: fitnessProject
        environment_name: FitnessProject-env-1
        version_label: ${{ github.sha }}
        deployment_package: deploy/app.zip
        wait_for_deployment: true
